body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
text-align: center;
  
  }
  
  nav {
    text-align: center;
  }
  
   
 
 
 a{
   padding-left: 10px;
   padding-right: 10px;
   background-color: lightgray;
 }
 
img {
  align-content: center;
 
 }
 
 figcaption{
   font-size: 10px;
   text-align: center;
 }

#featured-property{
  width: 800px;
  text-align: center;
  
  
}

#details{
  display: block;
}
 