body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
text-align: center;
  
  }
  
  nav {
    text-align: center;
  }
  
  .img {
    align-content: center;
  } 
 
 
 a{
   padding-left: 10px;
   padding-right: 10px;
   background-color: lightgray;
 }
 
img {
  align-content: center;
 
 }
 

 
 
 figcaption{
   font-size: 10px;
   text-align: center;
 }

#featured-property{
  width: 800px;
  text-align: center;
  align-content: center;
  
  
}

#details{
  display: block;
 
  
  
}

div{
  background-color: red;
  text-align: center;
  width: 25%;
  float: left;
}
 